table {
	width: 100%;
	height: 100%;
}

td, th {
	text-align: center;
	position: relative;
	border: 1px solid black;
}

h2 {
	margin: 0;
	font-size: 1vw;
}

h1 {
	text-align: center;
}

.no_border {
	border: none;
}
.num {
	position: absolute;
	text-align: left;
	margin: 0;
	bottom: 0;
}
.masse {
	position: absolute;
	text-align: right;
	margin: 0;
	top: 0;
	right: 0;
	margin-right: 3px;
}

td p {
	font-size: 1vw;
}

.border_dash {
	border: 0.2vw dashed black;
}

.purple {
	background-color: #FFBFFF;
}

.lightpurple {
	background-color: #FF99CC;
}

.brown {
	background-color: #CCCC99;
}

.orange {
	background-color: #F6CFA1;
}

.yellow {
	background-color: #FFFF99;
}

.blue {
	background-color: #C0E8FF;
}

.green {
	background-color: #A0FFA0;
}

.pink {
	background-color: #FFC0C0;
}

.red {
	background-color: #FF6666;
}

.grey {
	background-color: #CCCCCC;
}

body{
	background-image: url(http://www.larousse.fr/encyclopedie/data/images/1310399-Dmitri_Ivanovitch_Mendele%C3%AFev.jpg);		
}